[submodule "sdsge-papers"]
	path = sdsge-papers
	url = git@github.com:GongJr0/sdsge-papers
[submodule "sdsge-scripts"]
	path = sdsge-scripts
	url = git@github.com:GongJr0/sdsge-scripts
[submodule "sdsge-ls"]
	path = sdsge-ls
	url = git@github.com:GongJr0/sdsge-ls
